@{
    ViewBag.Title = "Home Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
</div>

<div class="clearfix visible-md"></div>


<!-- 1st Row-->
<div class="container">

    <div class="row">
 
        <div class="col-md-3">

            <h2>Links</h2>
            <ul>
                <li>
                    IT Dept Links
                    <br />                    
                    @Html.ActionLink("CLICK", "IT_Dept", "Home")
                </li>
                <li>
                    New OBHFORM
                    <br />
                    @Html.ActionLink("CLICK", "OBHForm", "Home")
                </li>

            </ul>
        </div>


    </div>

</div>


