@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department - Links</p>
</div>

<div class="clearfix visible-md"></div>



<div class="container">
    <!-- 1st Row-->
    <div class="row">
        <div class="col-md-3">
            <h2>External Links</h2>
            <ul>

                <li>
                    MS Volume Licensing (VLSC)
                    <br />
                    <a href="https://www.microsoft.com/Licensing/servicecenter/default.aspx" target="_blank">CLICK</a>
                </li>
                <li>
                    BI (Business Intelligence) SAP
                    <br />
                    <a href="https://bobi.ehsmed.com/BOE/BI" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>Internal Links</h2>
            <ul>
                <li>
                    Success
                    <br />
                    <a href="https://launch.ehsmed.com:4443/pls/hb/hb_web.main" target="_blank">CLICK</a>
                </li>
                <li>
                    Intranet
                    <br />
                    <a href="http://www2.jphsa.org/" target="_blank">CLICK</a>
                </li>
                <li>
                    LEO
                    <br />
                    <a href="https://leo.doa.louisiana.gov/irj/portal" target="_blank">CLICK</a>
                </li>
                <li>
                    LOCUS, CALOCUS
                    <br />
                    <a href="http://locus.jphsa.org" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>
    </div>



