@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department</p>
</div>

<div class="clearfix visible-md"></div>


<div class="container">
    <!-- 1st Row-->
    <div class="row">
        <div class="col-md-5">
            <h2>Other IT Pages</h2>
            <ul>
                <li>@Html.ActionLink("Printers", "IT_Dept_Printers", "Home")</li>
                <li>@Html.ActionLink("Consoles, Apache, Front-Ends", "IT_Dept_Servers_Consoles", "Home")</li>
                <li>@Html.ActionLink("References, Manuals", "IT_Dept_References", "Home")</li>
                <li>@Html.ActionLink("Internal & External Links", "IT_Dept_Links", "Home")</li>

             </ul>
        </div>

        <div class="col-md-5">
            <h2>Quick Reports (SSRS)</h2>
            <ul>
                
                <li>
                    INVENTORY (with Drop-downs)
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/030_IT_INVENTORY" target="_blank">CLICK</a>
                </li>
                <li>
                    INVENTORY Search MONITORS (attached and un-attached)
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/024_Search_Monitors" target="_blank">CLICK</a>
                </li>
                <li>
                    INVENTORY Attached devices 
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/022_INVENTORY_search_attached_items_and_Users" target="_blank">CLICK</a>
                </li>
                <li>
                    INVENTORY Software
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/026_INVENTORY_Software_Search" target="_blank">CLICK</a>
                </li>
                <li>
                    INVENTORY Passwords
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/010_pWord" target="_blank">CLICK</a>
                </li>
                <li>
                    AD Users in Random Order
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/041_AD_Users_inRandomOrder" target="_blank">CLICK</a>
                </li>
                <li>
                    SysAid_UserName_Asset_and_LastLogin_given_IPAddress
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/SysAid_Reports/014_SysAid_UserName_Asset_and_LastLogin_given_IPAddress" target="_blank">CLICK</a>
                </li>
                <li>
                    INVENTORY IP Addresses (Static)
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/029_INVENTORY_IP_lookup" target="_blank">CLICK</a>
                </li>
                <li>
                    SYSAID - IP Addresses (Dynamic and Stratic)
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/SysAid_Reports/012_SysAid_Asset_IPAddress_Searchable" target="_blank">CLICK</a>
                </li>
                <li>
                    AD_groups_given_UserName
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/001_AD_groups_given_UserName" target="_blank">CLICK</a>
                </li>
                <li>
                    Office Version - Summary
                    <br/>
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/032_INVENTORY_OfficeVersionSummery" target="_blank">CLICK</a>
                </li>
                <li>
                    Office Version - Details
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/INVENTORY/033_INVENTORY_OfficeVersion_All" target="_blank">CLICK</a>
                </li>
                <li>
                    AD - Active User List
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/037_AD_UserList" target="_blank">CLICK</a>
                </li>
                <li>
                    AD - OU List
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/038_AD_OUList" target="_blank">CLICK</a>
                </li>
                <li>
                    AD Users: Search By Name,Department,EmployeeID
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/002_AD_Users_SearchBy_Name_Department_EmployeeID" target="_blank">CLICK</a>
                </li>
                <li>
                    AD User OU  Summary
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/042_AD_UsersOU_Summary" target="_blank">CLICK</a>
                </li>
                <li>
                    AD User OU Details
                    <br />
                    <a href="http://wbsql1/Reports_PROD/report/IT_Dept/AD_Reports/043_AD_UsersOU_Detail" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- 2nd Row -->
    <div class="row">
    
        <div class="col-md-3">
            <h2>SSRS</h2>
            <ul>

                <li>
                    WAREHOUSE
                    <br />
                    <a href="http://wbsql1/Reports_WAREHOUSE/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    Production
                    <br />
                    <a href="http://wbsql1/Reports_PROD/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    WAREHOUSE Development
                    <br />
                    <a href="http://wbsql1/Reports_WAREHOUSE_DEV/browse/" target="_blank">CLICK</a>
                </li>
                <li>
                    Development
                    <br />
                    <a href="http://wbsql1/Reports_DEV/browse/" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>Diagrams</h2>
            <ul>
                <li>
                    EB 1st Floor Plan
                    <br />
                    <a href="~/files/EB_1st_Floor_2017_06_01.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    EB 1st Network Ports
                    <br />
                    <a href="~/files/EB_1st_Floor_Port_Numbers.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    EB 2nd Floor Plan
                    <br />
                    <a href="~/files/EB_2nd_Floor_2017_06_01.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    EB 2nd Network Ports
                    <br />
                    <a href="~/files/EB_2nd_Floor_Port_Numbers.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    WB Floor Plan
                    <br />
                    <a href="~/files/FLOOR_PLAN_WB.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    River Oaks 2nd Floor (Ports)
                    <br />
                    <a href="~/files/FLOOR_PLAN_RO_Ports_NetworkJacks.pdf" target="_blank">CLICK</a>
                </li>
                <li>
                    River Oaks 2nd Floor (Room #)
                    <br />
                    <a href="~/files/RO_2nd_Floor_2017_10_11.pdf" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <h2>Logs of interest</h2>
            <ul>

                <li>
                    logon.log
                    <br />
                    <a href="file://///EBDC2/logonlog/logon.log" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

    </div>

    <!-- 3rd Row - EMPTY-->
    <div class="row">
        
        <div class="col-md-3">
            <!-- empty -->
        </div>

        <div class="col-md-3">
            <!-- empty -->
        </div>

        <div class="col-md-3">
            <!-- empty -->
        </div>




    </div>

    <!-- 4th Row - EMPTY-->
    <div class="row">
        <div class="col-md-3">
            <!-- empty -->
        </div>

        <div class="col-md-3">
            <!-- empty -->
        </div>


        <div class="col-md-3">
            <!-- empty -->
        </div>

    </div>

    <!-- 5th Row - EMPTY-->
    <div class="row">
        <div class="col-md-3">
            <!-- empty -->
        </div>

        <div class="col-md-3">
            <!-- empty -->
        </div>


        <div class="col-md-3">
            <!-- empty -->
        </div>

    </div>

</div>

