@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department - Printers</p>
</div>

<div class="clearfix visible-md"></div>



<div class="container">
    <!-- 1st Row-->
    <div class="row">
        <div class="col-md-6">
            <h2>East Bank Printers - 1st floor</h2>
            <ul>
                <li>
                    EB Child Copier [iR-ADV 6265]   [10.11.56.218]
                    <br />
                    <a href="http://10.11.56.218/" target="_blank">CLICK</a>
                </li>
                <li>
                    EB FileRoom Copier [iR-ADV 6265]   [10.11.56.219]
                    <br />
                    <a href="http://10.11.56.219/" target="_blank">CLICK</a>
                </li>
                <li>
                    EB Adult Copier [iR-ADV 6265]   [10.11.56.220]
                    <br />
                    <a href="http://10.11.56.220/" target="_blank">CLICK</a>
                </li>
                <li>
                    EB Primary Care   [10.11.56.204]
                    <br />
                    <a href="http://10.11.56.204/" target="_blank">CLICK</a>
                </li>
                <li>
                    Karen Canales   [10.11.56.222]
                    <br />
                    <a href="http://10.11.56.222/" target="_blank">CLICK</a>
                </li>
            </ul>
            <h2>East Bank Printers - 2nd floor</h2>
            <ul>
                <li>
                    IT [Dell Laser Printer 5210n]   [10.11.54.205]
                    <br />
                    <a href="http://10.11.54.205/" target="_blank">CLICK</a>
                </li>
                <li>
                    Admin Copier [Canon / iR-ADV 6265]   [10.11.54.210]
                    <br />
                    <a href="http://10.11.54.210/" target="_blank">CLICK</a>
                </li>
                <li>
                    HPPrinter - E. Riehl [HP LaserJet M604]   [10.11.54.214]
                    <br />
                    <a href="http://10.11.54.214/" target="_blank">CLICK</a>
                </li>
                <li>
                    Beverly Devall   [10.11.54.206]
                    <br />
                    <a href="http://10.11.54.206/" target="_blank">CLICK</a>
                </li>
                <li>
                    COLOR cubicles   [10.11.54.207]
                    <br />
                    <a href="http://10.11.54.207/" target="_blank">CLICK</a>
                </li>
                <li>
                    DD   [10.11.54.208]
                    <br />
                    <a href="http://10.11.54.208/" target="_blank">CLICK</a>
                </li>
                <li>
                    DCS   [10.11.54.226]
                    <br />
                    <a href="http://10.11.54.226/" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>West Bank Printers</h2>
            <ul>
                <li>
                    WB Children Copier [10.11.52.239]
                    <br />
                    <a href="https://10.11.52.239/" target="_blank">CLICK</a>
                </li>
                <li>
                    WB Clerical Front Office Copier [10.11.52.24]
                    <br />
                    <a href="http://10.11.52.24/" target="_blank">CLICK</a>
                </li>
                <li>
                    WB Nurse Station Copier [10.11.52.28]
                    <br />
                    <a href="https://10.11.52.28/" target="_blank">CLICK</a>
                </li>
                <li>
                    WB Social Hallway [10.11.52.31]
                    <br />
                    <a href="http://10.11.52.31/" target="_blank">CLICK</a>
                </li>
                <li>
                    WB FileRoom Copier [10.11.52.37]
                    <br />
                    <a href="http://10.11.52.37/" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>


        <div class="col-md-3">
            <!-- empty -->
        </div>

    </div>

</div>

