@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department - References</p>
</div>

<div class="clearfix visible-md"></div>



<div class="container">
    <!-- 1st Row-->
    <div class="row">

        <div class="col-md-3">
            <h2>References</h2>
            <ul>
                <li>
                    SysAid
                    <br />
                    <a href="https://www.sysaid.com/help-page.htm?helpPageId=5733&edition=2" target="_blank">CLICK</a>
                </li>
                <li>
                    The Unofficial SysAid Wiki
                    <br />
                    <a href="https://sites.google.com/site/sysaidwiki/sysaid-general" target="_blank">CLICK</a>
                </li>
                <li>
                    SQL Books Online
                    <br />
                    <a href="https://docs.microsoft.com/en-us/sql/sql-server/sql-server-technical-documentation" target="_blank">CLICK</a>
                </li>
                <li>
                    HTML w3schools.com
                    <br />
                    <a href="https://www.w3schools.com/html/" target="_blank">CLICK</a>
                </li>
                <li>
                    Whats Up Gold (ipswitch)
                    <br />
                    <a href="https://www.ipswitch.com/support/documentation" target="_blank">CLICK</a>
                </li>
                <li>
                    Whats Up Gold (2017 Help)
                    <br />
                    <a href="http://docs.ipswitch.com/NM/WhatsUpGold2017/03_Help/1033/index.htm?42240.htm?toc.htm" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

    </div>



</div>

