@{
    ViewBag.Title = "IT Dept Page";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>Directory Assistance</h1>
    <p class="lead">IT Department - Servers, Consoles, Apache</p>
</div>

<div class="clearfix visible-md"></div>



<div class="container">
    <!-- 1st Row-->
    <div class="row">
 
        <div class="col-md-3">
            <h2>IT Consoles</h2>
            <ul>
                <li>
                    <b>Exchange</b> Server
                    <br />
                    <a href="https://mail.jphsa.org/ecp" target="_blank">CLICK</a>
                </li>   
                <li>
                    <b>Keyless</b> Access Server
                    <br />
                    <a href="https://10.11.54.236" target="_blank">CLICK</a> Scott's Room
                    <br />
                    Use UltraVNC for: 10.11.54.13 
                </li>
                <li>
                    <b>Symantec</b> Endpoint Protection Manager Web Access
                    <br />
                    <a href="https://10.11.54.242:8443/" target="_blank">CLICK</a>
                </li>                             
                <li>
                    <b>SysAid</b> - Original
                    <br/>
                    <a href="http://jphsa-wbweb:8080/Login.jsp" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>SysAid</b> - New
                    <br/>
                    <a href="http://JPHSA-EBWEB2:8080/Login.jsp" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>Toshiba Phone</b> (East Bank)
                    <br />
                    <a href="http://10.11.54.20/oamp/login" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>Toshiba Phone</b> (West Bank)
                    <br />
                    <a href="http://10.11.53.2/oamp/login" target="_blank">CLICK</a>
                </li>
                <li>
                    Forcepoint - Triton (for <b>WebSense</b>)
                    <br />
                    <a href="https://10.11.54.12:9443/triton" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>WhatsUp Gold</b>
                    <br/>
                    <a href="http://wug.jphsa.org/NmConsole/#v=Wug_view_userManagement_UsersLibrary" target="_blank">CLICK</a>
                </li>
                <li>
                    <b>Wireless Access Points</b> - Aruba (EB)
                    <br/>
                    <a href="https://10.11.56.244" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>Apache1</h2>
            <ul>

                <li>
                    OBHFORM (Form_01)
                    <br />
                    <a href="http://10.11.54.245/OBHFORM/OBHFORM.html" target="_blank">CLICK</a>
                </li>
                <li>
                    Index.html
                    <br />
                    <a href="http://10.11.54.245/Index.html" target="_blank">CLICK</a>
                </li>
                <li>
                    Info.php
                    <br />
                    <a href="http://10.11.54.245/info.php" target="_blank">CLICK</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>Front-End <small>(use Chrome)</small></h2>
            <ul>
                <li>
                    SERVER
                    <br />
                    <a href="http://10.11.54.25:65533/" target="_blank">CLICK</a>
                </li>
                <li>
                    CONTACTS (Telephone)
                    <br />
                    <a href="http://10.11.54.25:65534/" target="_blank">CLICK</a>
                </li>

            </ul>
        </div>

    </div>




</div>

