
@{
    ViewBag.Title = "OBHForm";
}

<div class="JPHSA411_jumbotron col-md-12">
    <h1>OBHForm</h1>
</div>

<div class="clearfix visible-md"></div>


<!-- 1st Row-->
<div class="container">

    <div class="row">
        <div class="col-md-3">

            <h2>Links</h2>
            <ul>
                <li>
                    New OBHFORM
                    <br />
                    <a href="http://10.11.54.245/OBHFORM/OBHFORM.html" target="_blank">CLICK</a>
                </li>

            </ul>
        </div>


    </div>
</div>

